[Unit]
Description=Alfred Info timer
After=alfred.service
Requires=alfred.service

[Timer]
OnBootSec=1m
OnUnitInactiveSec=5m

[Install]
WantedBy=multi-user.target
