[Unit]
Description=A high performance web server
After=network.target

[Service]
ExecStart=/usr/bin/gatling -c /data/
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
