[Unit]
Description=hostapd-config
After=local-fs.target
# hostapd is started with sysinit, write config beforehand
Before=networking.service

[Service]
ExecStart=/bin/bash -c '/etc/hostname.sh'
Type=oneshot
StandardOutput=journal

[Install]
RequiredBy=network.target
