[Unit]
Description=RaspiMJPEG
After=network.target

[Service]
User=www-data
ExecStartPre=mkdir -p /dev/shm/mjpeg
ExecStart=/usr/bin/raspimjpeg
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target