[submodule "pimod"]
	path = pimod
	url = https://github.com/Nature40/pimod.git
[submodule "pysensorproxy"]
	path = pysensorproxy
	url = https://github.com/Nature40/pysensorproxy.git
[submodule "RadioTracking/home/pi/rtl-sdr"]
	path = RadioTracking/home/pi/rtl-sdr
	url = git://git.osmocom.org/rtl-sdr.git
[submodule "RadioTracking/home/pi/rtl-power-fftw"]
	path = RadioTracking/home/pi/rtl-power-fftw
	url = https://github.com/AD-Vega/rtl-power-fftw.git
[submodule "RadioTracking/home/pi/liquid-dsp"]
	path = RadioTracking/home/pi/liquid-dsp
	url = https://github.com/jgaeddert/liquid-dsp.git
[submodule "RadioTracking/home/pi/rtlsdr_signal_detect"]
	path = RadioTracking/home/pi/rtlsdr_signal_detect
	url = https://github.com/Nature40/rtlsdr_signal_detect.git
[submodule "Base/home/pi/sysdweb"]
	path = Base/home/pi/sysdweb
	url = https://github.com/Nature40/sysdweb
