:80 {
    encode gzip
    
    handle_path /sysdweb/* {
        reverse_proxy http://localhost:10080
    }    
    
    route /radiotracking/* {
        reverse_proxy http://localhost:8050
    }

    route /radiotracking-config/* {
        reverse_proxy http://localhost:8051
    }

    file_server * browse {
        root /data/
    }
}