[Unit]
Description=wireguard-config
After=local-fs.target
Before=networking.service

[Service]
ExecStart=/bin/bash -c '/etc/wireguard/nature40.conf.sh > /etc/wireguard/nature40.conf'
Type=oneshot
StandardOutput=journal

[Install]
RequiredBy=sysinit.target
