[Unit]
Description=Jupyter Notebook
After=network.target

[Service]
ExecStart=/usr/bin/jupyter notebook --allow-root --ip 0.0.0.0 
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

