[Unit]
Description=RadioTracking
After=network.target mosquitto.service time-sync.target

StartLimitIntervalSec=600
StartLimitAction=reboot

[Service]
ExecStartPre=+/bin/bash -c "echo 0 > /sys/module/usbcore/parameters/usbfs_memory_mb"
User=pi
Group=pi
ExecStart=/usr/bin/python3 -m radiotracking @/boot/radiotracking.ini
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

