[Unit]
Description=Detect signals of bats
After=network.target mysql.service time-sync.target

[Service]
ExecStart=/home/pi/signal_detect.sh %I
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
