[Unit]
Description=Detect signals of bats
After=network.target mysql.service time-sync.target

StartLimitIntervalSec=600
StartLimitAction=reboot

[Service]
ExecStart=/home/pi/signal_detect.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
