[Unit]
Description=wireguard-config
After=local-fs.target
Before=networking.service

[Service]
ExecStart=/bin/bash -c '/etc/network/interfaces.d/adhoc.sh > /etc/network/interfaces.d/adhoc; /etc/dhcp/dhclient.conf.sh > /etc/dhcp/dhclient.conf'
Type=oneshot
StandardOutput=journal

[Install]
RequiredBy=network.target
