[Unit]
Description=RadioTracking
After=network.target mosquitto.service time-sync.target hostname-config.service

# Reboot after more than 10 restarts in 15 minutes happened.
# This will happen after 10 minutes at the earliest, according to service configuration.
StartLimitBurst=10
StartLimitIntervalSec=900s
StartLimitAction=reboot

[Service]
ExecStartPre=+/bin/bash -c "echo 0 > /sys/module/usbcore/parameters/usbfs_memory_mb"
ExecStartPre=+/bin/bash -c 'exec uhubctl | while read line; do echo "INFO;uhubctl;$line"; done | mosquitto_pub -l -t `hostname`/radiotracking/log/csv'
ExecStart=/bin/bash -c "/usr/bin/python3 -m radiotracking --config /boot/radiotracking.ini --station `hostname` --dashboard --dashboard-host localhost --dashboard-port 8050 --mqtt --mqtt-host localhost --mqtt-port 1883 --csv --export-config --path /data"
Restart=always
RestartSec=60s
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

